a { 
text-decoration: none;
color: white;
}

.menu {
    display: flex;
    background-color: rgb(184, 215, 255);
    height: 50px;
    justify-content: center;
    
}

.menu li {
    margin-right: 20px;
    list-style: none;
    text-decoration: none;
    color: aliceblue;
    line-height: 50px;
}